body {
    background: write;
    text-align: center;
    margin: 0;
    height: 100%;
}

footer {
    display: auto;
    background-color: blue;
    color: rgb(248, 242, 242);
    width: 100%;
    text-align: center;
    line-height: 44px;
    font: size 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}